#!/usr/bin/make -f

DESTDIR = debian/buildbot-worker

%:
	dh $@ --with python2,bash-completion

override_dh_auto_clean:
	rm -fR buildbot_worker.egg-info
	dh_auto_clean

override_dh_auto_test:
ifneq (,$(findstring nocheck, $(DEB_BUILD_OPTIONS)))
	@echo "Skipping check (disabled in DEB_BUILD_OPTIONS)."
else
	trial --reporter=bwverbose buildbot-worker.test
endif

override_dh_installinit:
	mkdir -p ${DESTDIR}/etc/init.d ${DESTDIR}/etc/default
	cp contrib/init-scripts/buildbot-worker.init.sh ${DESTDIR}/etc/init.d/buildbot-worker
	cp contrib/init-scripts/buildbot-worker.default ${DESTDIR}/etc/default/buildbot-worker
	dh_installinit --name=buildbot-worker --onlyscripts

override_dh_installchangelogs:
	dh_installchangelogs --keep NEWS 
